$border-color-light: #B3B2B2;
$background-color-light: #F5F5F5;
$font-color-dark: #222222;

$gray-600: #767676;
$gray-400: #B3B2B2;
$gray-300: #EFEFEF;
$gray-200: #F5F5F5;
$gray-100: #FAFAFA;


$white: #FFFFFF;