.modal.is-visible {
    display: block;
    animation: fade-in 0.3s ease-in-out;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-header {
    padding: 32px 32px 20px 32px;
    border: none;
}

.modal-body {
    padding: 0 32px;
}

.col {
    padding: 0;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.5rem;
}

.modal-footer {
    padding: 20px 32px 32px 32px;
    border: none;
}

.modal-title {
    font-size: 24px;
    line-height: 32px;
    color: var(--bs-primary);
    font-weight: 510;
    text-align: center;
    margin-bottom: 10px;
}

.modal-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: var(--bs-light);
    font-weight: 410;
    text-align: center;
}