@import "~/styles/var.scss";

p.upload-desc {
    font-family: 'SF Pro' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B3B2B2;
    margin-bottom: 0px;
    margin-top: 8px;
}
.drag-and-drop-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.alert-container {
  margin: 5px 0;
}
.alert-container .alert-heading.h4 {
  margin: 0;
  font-size: 14px;
}
.alert-heading.h4 p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 18px;
}
.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
  outline: 0;
}
.upload-container {
  background: #F5F5F5;
  border: 1px dashed $border-color-light;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 250px;
  background: #F5F5F5;
  border: 1px dashed #B3B2B2;
  border-radius: 8px;
}
.accordion  {
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  padding: 0px;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 24px;
  color: #B3B2B2;
}
.alert-container {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(235, 87, 87, 0.1);
  border-radius: 8px;
}
.alert-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 8px;
  box-sizing: border-box;
  color: #EB5757;
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 24px;
}
.upload-wave-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; 
}
.accordion-upload-container {
  display: flex;
  flex-direction: column;
  height: 250px;
}
.filename {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
}
.filename p {
  width: 100%;
  margin: 0;
}
.accordion-btn {
  box-shadow: none;
  gap: 10px;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $font-color-dark !important;
  background-color: transparent !important;
  padding: 24px;
}
.filename img:last-child:hover {
  box-shadow: 0px 0px 10px 0px #a3a3a3;
  border-radius: 50%;
  cursor: pointer;
}
.plus-icon {
  width: 30px;
  margin-bottom: 10px;
}
.frame-selection.active {
  position: relative;
}
.frame-selection.active::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url(/src/assets/icons/template-selected.png);
  background-position: 100%;
  background-size: 100%;
  position: absolute;
  top: 5px;
  right: 2px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.col-6.frame-selection.active::after {
  border: 1px solid #F6F6F6;
}
.frame-selection.false::after {
  content: "";
  width: 18px;
  height: 18px;
  background-position: 100%;
  background-size: 100%;
  position: absolute;
  top: 5px;
  right: 2px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.frame-selection input {
  visibility: hidden;
  position: absolute;
}
.material-and-sizing-container p {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 17px;
}