@import "~/styles/var.scss";

.template-container {
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF Pro';
  font-style: normal;
  padding: 24px;
  --bs-primary: #222222;
  --bs-light: #9C9C9C;

  width: 100%;
  height: 100%;
}
.template-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 28px;
}
.customizer-tool-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 920px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
}
.canvas-container {
    box-sizing: border-box;
    // width: 100%;
    height: 920px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
}
.customizer-container {
    display: flex;
    .input-container  {
      flex: 1 1 auto;
      margin-right: 12px;
    }
    .canvas-container {
      flex: 1 1 auto;
      // margin-left: 12px;
    }
}

/* Accordion CSS */
p.upload-desc {
    font-family: 'SF Pro' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B3B2B2;
    margin-bottom: 0px;
    margin-top: 8px;
}
.drag-and-drop-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.alert-container {
  margin: 5px 0;
}
.alert-container .alert-heading.h4 {
  margin: 0;
  font-size: 14px;
}
.alert-heading.h4 p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 18px;
}
.accordion-body { padding: 24px; }
.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
  outline: 0;
}
button.accordion-button {
  box-shadow: none;
  gap: 10px;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $gray-600 !important;
  background-color: transparent !important;
  padding: 24px;
  .accordion-icon {
    height: 24px;
    width: 24px;

    path { stroke: $gray-600 !important; }
  }
  &::after { display: none; }
  &[aria-expanded="true"] { 
    color: $font-color-dark !important; 
    .accordion-icon path { stroke: $font-color-dark !important; }
  }
  .accordion-icon { margin-right: 12px; }
}
.accordion-item, .accordion-button:not(.collapsed) {  
  border: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #EFEFEF !important;
}
.upload-container {
  height: 100%;
  .image-container {
    height: 180px;
  }
}
.accordion  {
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 24px;
  color: #B3B2B2;

  padding: 0px 0px 120px 0px;
  position: relative;
}
.alert-container {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(235, 87, 87, 0.1);
  border-radius: 8px;
}
.alert-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 8px;
  box-sizing: border-box;
  color: #EB5757;
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 24px;
}
.upload-wave-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.accordion-upload-container {
  display: flex;
  flex-direction: column;
  height: 280px;
  gap: 10px;
}
.accordion-upload-container.image-container {

  height: 180px;
}
.filename {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
}
.filename p {
  width: 100%;
  margin: 0;
}
.plus-icon { margin-bottom: 24px; }
.frame-selection.active {
  position: relative;
}
.frame-selection.active::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url(/src/assets/icons/template-selected.png);
  background-position: 100%;
  background-size: 100%;
  position: absolute;
  top: 5px;
  right: 2px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.col-6.frame-selection.active::after {
  border: 1px solid #F6F6F6;
}
.frame-selection.false::after {
  content: "";
  width: 18px;
  height: 18px;
  background-position: 100%;
  background-size: 100%;
  position: absolute;
  top: 5px;
  right: 2px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.frame-selection input {
  visibility: hidden;
  position: absolute;
}
.material-and-sizing-container p {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 17px;
}

/* Canvas Pane CSS */
.canvas-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
}
.canvas-header {
    height: 76px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0px;
    gap: 24px;
    justify-content: space-between;
    button {
      background-color: $gray-100;
      width: 32px;
      height: 32px;
      padding: 7px;
    }
}
.canvas-header p {
    font-family: 'SF Pro';
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 510;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}
.canvas-content {
    height: 700px;
    width: 100%;
    /* background: url(/src/assets/img/temp2.png);
    background: #625f5f; */
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 8px !important;
    overflow: hidden;
}
.canvas-footer {
    height: 200px;
    width: 100%;
}
.canvas-component {
    width: 100%;
    height: 100%;
}
.canvas-footer.mobile {
    display: none;
}
.canvas-text {
  // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='white' stroke-width='3' stroke-dasharray='10%2c 12' stroke-dashoffset='20' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
    border: rgb(255, 255, 255) solid 2px;
    // color: #FFFFFF;
    // padding: 10px 40px;
}
@media screen and (max-width: 1000px) {
  .canvas-text.title {
    margin-top: 25vh;
  }
}
.form-control {
  background: transparent !important;
  border: transparent !important;
  font-size: 30px;
}
.form-control:focus {
  border-color: #ced4da;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
@media screen and (max-width: 500px) {
  .form-control {
    width: 70vw;
    font-size: 20px !important;
  }
  .canvas-text.title{
    margin-top: 10vh;
  }
}
.canvas-text.title {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.canvas-text.title h1 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;

}
.canvas-text.subtitle {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.canvas-content .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.orientation-icon {
  transition: 0.2s ease-in-out;
}
.portrait-orientation {
  transition: .2s ease-in-out;
  transform: rotate(90deg);
}
.canvas-content > div:not(first-child) {
  z-index: 2;
}
.overlay.desktop.option_1 {
  background: #002e576e;
}
.overlay.desktop.option_2 {
  background: #7874377d;
}
.overlay.desktop.option_3 {
  background: #007b627a;
}
.overlay.mobile.option_1 {
  background: #f271217b;
}
.overlay.mobile.option_2 {
  background: #3d99847c;
}
.overlay.mobile.option_3 {
  background: #d6b0ff82;
}
/*End of Canvas*/ 

/* Order Review CSS */
ul.order-preview-container {
  padding: 0;
  margin: -10px;
}
ul.order-preview-container li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  justify-content: space-between;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9C9C9C;
  border-bottom: 1px solid #EFEFEF;
}
ul.order-preview-container li strong {
  color: #403F3F;
  font-style: normal;
  font-weight: 510;
  font-size: 14px;
  line-height: 24px;
}
/* End of Order Review CSS */

.upload-header.file-uploaded button::after,
h2.material-and-sizing-header.material-sizing-selected button::after {
  background: url(/src/assets/icons/accordion-check.png);
  width: 20px;
  height: 20px;
  background-size: contain;
  transform: rotate(0deg);
}
.upload-header.file-uploaded .upload-desc,
button.accordion-button.collapsed .upload-header .upload-desc {
  display: none;
}
button.accordion-button .upload-header .upload-desc {
  display: block;
}
.col-7.canvas-container.portrait .canvas-component > div:not(.canvas-header) {
  width: 70%;
  transition: width 0.3s ease;
}
.col-7.canvas-container.landscape .canvas-component > div:not(.canvas-header) {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.col-7.canvas-container.portrait .canvas-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.order-preview-container li {
  text-transform: capitalize;
}
.col-7.canvas-container.portrait .template-color {
  gap: 24px;
}

.template-action-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.add-template-button {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 590;
  font-size: 14px;
  line-height: 24px;
  background: #FFFFFF;
  color: #222222;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  padding: 8px 16px;
}

.close-template-button {
  border: none;
  background-color: transparent;
}

.btn-custom-delete {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  background: $gray-200;

  width: 32px;
  height: 32px;
  &:hover {
    box-shadow: 0px 0px 6px 0px #a3a3a367;
  }
}
.input-btns {
  display: flex;
  flex-direction: row;

  padding: 24px;

  position: absolute;
  bottom: 0;
  * {
    flex: 1 1 auto;
    margin: 8px;
  }
}

// {Media Queries - Reponsiveness}
@media (max-width: 980px) {
  .customizer-container{
      display: flex;
      flex-direction: column-reverse;
  }
  .col-7.canvas-container {
      flex: 0 0 auto;
      width: 100% !important;
  }
  .input-container {
      width: 100%;
  }
  .canvas-container {
      height: 100%;
  }
  .canvas-content {
    height: 450px;
    gap: 10px;
  }
  .canvas-container {
      height: 100%;
      padding: 10px;
      border-radius: 8px;
  }
  .canvas-footer.mobile {
      display: flex;
      height: 100%;
      position: relative;
      bottom: 0px;
  }
  .template-color {
      margin: 0;
      position: absolute;
      top: -40px;
      left: 10px;
      gap: 10px;
  }
  .canvas-footer.mobile .frame-color-selection.frame-color {
      height: 30px;
  }
  .canvas-footer.desktop {
      display: none;
  }
  .mobile label.col-3.frame-color-selection.frame-color.active img {
      border: 3px solid #fff;
      box-shadow: 0px 0px 10px 0px #fff;
      border-radius: 7px;
      box-sizing: border-box;
  }
  .mobile label.col-3.frame-color-selection img {
      border-radius: 5px;
      border: 1px solid #fff;
  }
  .canvas-text.title h1 {
      font-size: 30px;
  }
}