.col-4.frame-selection {
    flex: 1;
    height: 102px;
  }
  .frame-selection {
    height: 80px;
    border: 1px solid #EFEFEF;
    border-radius: 8px;

    position: relative;
  }
  .frame-type {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;  
  } 

  .col-4.frame-selection img {
    width: 100%;
    height: 100%;
  }
  .col-4.frame-selection a,label.col-4.frame-selection span {
    
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
  }
  label.col-4.frame-selection {
    position: relative;
    cursor: pointer;
  }
  label.col-4.frame-selection input {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 25px;
}
label.col-4.frame-selection.active {
    position: relative;
}
.frame-selection .custom-select  {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 5px;
  right: 2px;

  /* Neutrals/Pure white */
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}